{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class = "content-section">
		<form method="POST">
			{% csrf_token %}   <!--for security of form --imp -->
			<fieldset class = "form-group">
				<legend class = "border-bottom mb-4">Log In</legend>
				{{ form|crispy }}<!-- .as_p render form in p tags-->
			</fieldset>
			<div class = "form-group">
				<button class = "btn btn-outline-info" type = "submit">LogIn
				</button>
			</div>
		</form>
		<div class = "border-top pt-3">
				<small class = "text-muted">
					Do you need an account?<a href="{% url 'register' %}">SignUp</a>
				</small>
			</div>
	</div>
{% endblock content %}
